.display-cart{
    display: flex;
    flex-direction: row;
    margin-top: 90px
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    img {
        width: 20%;
        height: 4%;
    }
}

.add-items {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px
}

