.display-cart{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    font-family: Roboto Mono;
}
.display-cart p:nth-child(3){
opacity: 50%
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Roboto Mono;
    flex-direction: column;
    img {
        width: 20%;
        height: 4%;
    }
}

.add-items {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    font-family: Roboto Mono;
    
}

