@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Serif';
  src: url('./assets/fonts/RobotoSerif_28pt-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
#root{
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img{
    width: 100px;
  }
}

<<<<<<< HEAD

  


=======
body{
  min-height: 100vh;

}

#root{
  height: 100vh;
}
>>>>>>> bbc128ac5fe09518836dd0f4d3b83531bf111cd4
