@font-face {
  font-family: 'Roboto Mono';
  src: url('./assets/fonts/RobotoMono-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Serif';
  src: url('./assets/fonts/RobotoSerif_28pt-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  min-height: 100vh;

}

#root{
  height: 100vh;
}